#img-bg{
    background-image: url('https://i.pinimg.com/736x/55/5e/3f/555e3f361de8c72e3c841ae5a7b6300e.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}